.cube-container {
    /* display: flex; */
    justify-content: center;
    flex-flow: row wrap;
    flex: 100;
    margin: 35px;
    background-color: #f1f1f1!important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.box-column {
    width: 25%;
    /* display: inline-block; */
    /* display: inline; */
    /* margin: 0px; */
    /* padding: 0px; */ 
    float: left;

}
.cube-container::after {
    display: block;
    clear: both;
    content: "";
}   
.cube-img img{
    /* display: block;
    width: 100%;
    position: relative; */
    width: 100%;
    height: auto;
    /* flex: 50; */
    
    /* height: 15rem; */
}
.cube-box{
    /* float: left; */
    width: 100%;
    position: relative;
    /* width: 40rem; */
    /* height: 15rem; */
    /* display: flex; */
    flex-direction: row;
    /* margin-bottom: 40px;
    margin-left: 20px;
    margin-top: 20px; */
    /* margin: 10px; */
    /* border: 15px solid #fff; */
    display: inline-block;

}
.cube-meta-div {
    position: absolute;
    top: 66px;
  /* //  flex: 50; */
}
.cube-name {
    display: block;
    text-align: center;
    font-size: 24px;
}
.cube-price {
    font-weight: bold;
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    display: inline-block;
}
.cube-address{
    display: block;
    text-align: center;
    color: grey;
    margin: 10px 0px;
}
.cube-rating-container {
    
    display: block;
}
.cube-rating-label {
    color: grey;
    margin-left: 20px;
}
.cube-rating-value{ 
    color: #26a541;
}

.cube-seatsAvailble-container {
    display: block;
    margin-left: 20px;
}
.cube-seatsAvailble-label {
    color: grey;
}
.cube-seatsAvailble-value {
    color: #26a541;
}
.book-now-button {
    /* width: 150px; */
    /* height: 39px; */
    font-size: 18px;
    /* background: green; */
    /* color: white; */
    margin-left: 10px;
    margin-top: 30px;
    /* position: absolute; */
    /* bottom: 0px; */
}
.book-now-button button {
    width: 60px;
    height: 30px;
}
.selected {
    background-color: green;
    color: white;
}
.Booked {
    background-color: orange;
    color: white;
}
.hidden .cube-meta-div{
    display: none;
    /* visibility: hidden; */
}
div.hidden:hover .cube-meta-div{
    display: block;
    /* visibility: visible; */
}